name: Build keycloak ocm component
on:
  workflow_dispatch:
    inputs:
      imageVersion:
        description: "Keycloak image version"
        required: false
        type: string
        default: 26.3.3-debian-12-r0
      chartVersion:
        description: "Keycloak chart version"
        required: false
        type: string
        default: 25.2.3
      chartOCIPackagePath:
        required: false
        type: string
        description: "OCI registry path for chart in GHCR"
        default: ghcr.io/platform-mesh/upstream-images/charts/keycloak
      imageOCIPackagePath:
        required: false
        type: string
        description: "OCI registry path for image in GHCR"
        default: ghcr.io/platform-mesh/images/keycloak
      componentName:
        required: false
        type: string
        description: "Component name"
        default: github.com/platform-mesh/keycloak
      dryRun:
        required: false
        type: boolean
        description: "Dry run mode - skip pushing to OCM registry"
        default: true

permissions:
  contents: read
  packages: write

jobs:
  ocm:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      CHART_OCI_PATH_INPUT: "${{ inputs.chartOCIPackagePath }}:${{ inputs.chartVersion }}"
      COMPONENT_NAME: ${{ inputs.componentName }}
      COMPONENT_CONSTRUCTOR_FILE: '.ocm/component-constructor-keycloak.yaml'
      OCM_REGISTRY_URL:  'ghcr.io/platform-mesh'
    
    steps:
      - name: Setup yq@latest
        run: |
          if ! command -v yq &>/dev/null
          then
            mkdir -p /home/runner/.local/bin
            wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /home/runner/.local/bin/yq &&\
              chmod +x /home/runner/.local/bin/yq
          fi

      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Setup Helm 3.17.2
        run: |
          curl -fsSL https://get.helm.sh/helm-v3.17.2-linux-amd64.tar.gz -o helm.tar.gz
          tar -xzf helm.tar.gz
          sudo mv linux-amd64/helm /usr/local/bin/helm
          rm -rf linux-amd64 helm.tar.gz
          helm version

      - name: Setup OCM CLI
        run: |
          REPO=${repo:=open-component-model/ocm}
          if [ -z "$version" -o "$version" == latest ]; then
            version="$(basename "$(curl -Ls -o /dev/null -w %{url_effective} https://github.com/$REPO/releases/latest)")"
            echo "Selecting latest version: $version"
          fi
          VERSION=${version#v}
          ARCHIVE_FILE="ocm-${VERSION}-linux-amd64.tar.gz"
          URL="https://github.com/$REPO/releases/download/v${VERSION}/$ARCHIVE_FILE"
          echo "Installing ocm-cli version $version from $REPO"
          curl -LsS -o ocm-cli.tgz "$URL"
          tar --overwrite -xvzf ocm-cli.tgz >/dev/null
          chmod a+x ocm

      - name: Write Credentials file
        run: |
          cat <<EOF > $HOME/.ocmconfig
            type: generic.config.ocm.software/v1
            configurations:
              - type: credentials.config.ocm.software
                consumers:
                  - identity:
                      type: OCIRegistry
                      scheme: https
                      hostname: ghcr.io
                      pathprefix: platform-mesh
                    credentials:
                      - type: Credentials
                        properties:
                          username: github
                          password: ${{ secrets.GITHUB_TOKEN }}
          EOF

      - name: Pull Helm Chart from GHCR
        run: |
          mkdir -p ./charts
          echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login ghcr.io \
            --username github \
            --password-stdin

          helm pull oci://$CHART_OCI_PATH_INPUT --untar --untardir ./charts

          chart_dir=$(basename "$CHART_OCI_PATH_INPUT" | sed 's/:.*//')
          chart_no_tag=$(echo "$CHART_OCI_PATH_INPUT" | sed 's/:.*//')

          echo "CHART_PATH=./charts/$chart_dir" >> $GITHUB_ENV
          echo "CHART_OCI_PATH=oci://$chart_no_tag" >> $GITHUB_ENV

      - name: Prepare Template Variables
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          IMAGE_NAME=${{ inputs.imageOCIPackagePath }}
          CHART_NAME=$(yq '.name' $CHART_PATH/Chart.yaml)

          CHART_REPO=https://github.com/${{ github.repository }}
          ORG_REPO=$(echo "$IMAGE_NAME" | sed 's|ghcr.io/||')
          IMAGE_REPO_SHA=$(gh api repos/$ORG_REPO/git/ref/tags/${{ inputs.imageVersion }} 2>/dev/null | jq -r '.object.sha? // "null"') || echo "null"

          echo "IMAGE_REPO_SHA=$IMAGE_REPO_SHA" >> $GITHUB_ENV
          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV
          echo "ORG_REPO=$ORG_REPO" >> $GITHUB_ENV
          echo "CHART_REPO=$CHART_REPO" >> $GITHUB_ENV
          echo "CHART_OCI_PATH=$CHART_OCI_PATH" >> $GITHUB_ENV

      - name: Create OCM ComponentArchive
        run: |
          ocm_ctf=.ocm/transport.ctf
          mkdir -p "$(dirname "$ocm_ctf")"
          ./ocm add components -c --templater=go --file "$ocm_ctf" "${{ env.COMPONENT_CONSTRUCTOR_FILE }}" -- \
            IMAGE_VERSION=${{ inputs.imageVersion }} \
            IMAGE_NAME=${{ env.IMAGE_NAME}} \
            COMMIT=${{ github.sha }} \
            IMAGE_REPO=${{ env.ORG_REPO }} \
            IMAGE_REPO_SHA=${{ env.IMAGE_REPO_SHA }} \
            CHART_VERSION=${{ inputs.chartVersion }} \
            CHART_REPO=${{ env.CHART_REPO }} \
            COMPONENT_NAME=${{ env.COMPONENT_NAME }} \
            CHART_OCI_PATH=${{ env.CHART_OCI_PATH }} \
            LOCAL_CHART_PATH=${{ env.CHART_PATH}}

      - name: Print OCM Component
        run: ./ocm get components -o yaml .ocm/transport.ctf

      - name: Transfer to OCM REPO
        if: ${{ inputs.dryRun != true }}
        run: ./ocm transfer ctf --overwrite .ocm/transport.ctf "${{ env.OCM_REGISTRY_URL }}"