name: Keycloak Image

on:
  workflow_dispatch:
    inputs:
      image_version:
        description: 'Bitnami Keycloak image version (e.g. 25.2.0-debian-12-r0)'
        required: true
        default: '25.2.0-debian-12-r0'
      release_version:
        description: 'Release version used for tagging (e.g. 25.2.0)'
        required: true
        default: '25.2.0'
  push:
    branches:
      - main
      - feat/**

jobs:
  publish-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set versions
        id: vars
        run: |
          IMAGE_VERSION="${{ github.event.inputs.image_version || '25.2.0-debian-12-r0' }}"
          RELEASE_VERSION="${{ github.event.inputs.release_version || '25.2.0' }}"

          echo "image_version=$IMAGE_VERSION" >> $GITHUB_ENV
          echo "release_version=$RELEASE_VERSION" >> $GITHUB_ENV

          echo "Using image_version=$IMAGE_VERSION"
          echo "Using release_version=$RELEASE_VERSION"

      - name: Clone Bitnami Docker Keycloak Repo
        run: |
          git clone https://github.com/bitnami/containers.git
          cd containers/bitnami/keycloak
          git checkout "refs/tags/${{ env.image_version }}" || echo "Using main"

      - name: Build Docker Image
        run: |
          cd containers/bitnami/keycloak
          docker build -t ghcr.io/${{ github.repository_owner }}/keycloak:${{ env.release_version }} .
