name: Keycloak Image

on:
  workflow_dispatch:
    inputs:
      image_version:
        description: 'Bitnami Keycloak image version (e.g. 24.0.1-debian-12-r0)'
        required: true
        default: '25.2.0-debian-12-r0'
  push:
    branches:
      - main
      - feat/**

jobs:
  publish-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Clone Bitnami Docker Keycloak Repo
        run: |
          git clone https://github.com/bitnami/containers.git
          cd containers/bitnami/keycloak
          git checkout "refs/tags/${{ github.event.inputs.image_version }}" || echo "Using main"

      - name: Build Docker Image
        run: |
          cd containers/bitnami/keycloak
          docker build -t ghcr.io/${{ github.repository_owner }}/keycloak:${{ github.event.inputs.image_version }} .
